body
{
    font: var(--fw-normal) var(--base-font) var(--ff-sans);
 
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnnOOcXAJmKmuMQIcvu-rLZrxedV6Fns5Y1w&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
  
   padding-top: 8rem;  
   width: min(100%, 54rem); 
  margin: auto;

 color:whitesmoke;

}
#container
{
    width:500px;
    height:470px;
    background-color:black;
   margin-left: auto;
   margin-right: auto;
  /* margin-top:150px; */
  

background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  opacity: 0.9;

}
h1 
{
    color:white;
    padding:10px;
    font-size:28px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Fugaz One', cursive;
    letter-spacing: 0.5rem;
    border-bottom: 3px solid #7a7c7e ;


}
#contains
{
    /* width:100%; */
    /* display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding:10px;

}
label
{
    font-size:20px;
    color:white;
    text-transform: capitalize;
    font-family: 'Fugaz One', cursive;
}
input{
    width:55%;
    padding:5px 0 5px 0px;
    margin:10px;
    margin-left:30px;
    height:30px;
    border:none;
    outline:none;
    font-size:18px;
    font-family: 'Fugaz One', cursive;
    border: 5px solid #4a503d;
    border: 5px solid  #0a1931;
    text-indent: 15px;
    border-radius: 2em;
}
#total_bill
{
    margin-left:11%;
    color:whitesmoke;
}
#total_tip
{
    color:white;
}
#btn
{
    padding:10px;
    font-size:20px;
    font-family: 'Fugaz One', cursive;
    text-align: center;
    margin-left: 35%;
    margin-top:20px;
    border:5px  groove black;


background: linear-gradient(to bottom, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#btn:hover{
opacity: 0.3;;
}
/* #ranges
{
    
 padding-top:0;
 position:relative;
 top:-20px;
} */
